<mat-toolbar color="primary">
  <span>Keycloak Client</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="login();">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<div class="container-padding">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Welcome</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This is a demo of integrating Keycloak with Angular.<br/>
        To get started, click the "Login" button below.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" (click)="login();">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
